#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
    rgb_leds {
        compatible = "gpio-leds";

        rgb_red: rgb_0 {
            gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
            label = "Red RGB LED";
        };
        rgb_green: rgb_1 {
            gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;
            label = "Green RGB LED";
        };
        rgb_blue: rgb_2 {
            gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
            label = "Blue RGB LED";
        };
    };

    aliases {
        red = &rgb_red;
        green = &rgb_green;
        blue = &rgb_blue;
    };


};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	
	mma8451@1d {
		compatible = "nxp,mma8451";
		reg = <0x1d>;
		status = "okay";
		
		/* EJEMPLO: Configurar pin de interrupción - AJUSTA ESTE PIN */
		int1-gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;  /* PC13 como ejemplo */
	};
};

/* Configurar el pin de interrupción */
&pinctrl {
	/* EJEMPLO: Configuración para PC13 como entrada */
	accel_int_pin: accel_int_pin {
		pinmux = <STM32_PINMUX('C', 13, GPIO)>;
		bias-pull-up;
	};
};

